{{>layout/header}}
<h1>Write</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <table>
            <colgroup>
                <col style="width: 20%;" />
                <col style="width: 80%;" />
            </colgroup>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th>제목</th>
                    <td>
                        <input type="text" class="form-control" id="title">
                    </td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td>
                        <input type="text" class="form-control" id="author">
                    </td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td>
                        <input type="text" class="form-control" id="content">
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>
{{>layout/footer}}